doctype html 
html
    head
        link(rel="stylesheet" type="text/css" href="popup.css")
    body
        div#blockedCount.count
        span.subtext comments blocked
        script(type="text/javascript" src="popup.js")
      
